# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 Anders Lund <anders@alweb.dk>
[Desktop Entry]
Name=PuMoKu
Name[ca]=PuMoKu
Name[ca@valencia]=PuMoKu
Name[es]=PuMoKu
Name[he]=PuMoKu
Name[it]=PuMoKu
Name[ka]=PuMoKu
Name[nl]=PuMoKu
Name[pt_BR]=PuMoKu
Name[sl]=PuMoKu
Name[tr]=PuMoKu
Name[uk]=PuMoKu
Name[zh_TW]=PuMoKu
Comment=Sudoku game
Comment[ca]=Joc de Sudoku
Comment[ca@valencia]=Joc de Sudoku
Comment[es]=Juego de Sudoku
Comment[he]=משחק סודוקו
Comment[it]=Gioco di Sudoku
Comment[ka]=თამაში სუდოკუ
Comment[nl]=Sudoku-spel
Comment[pt_BR]=Jogo Sudoku
Comment[sl]=Igra sudoku
Comment[tr]=Sudoku oyunu
Comment[uk]=Гра у судоку
Comment[zh_TW]=數獨遊戲
Version=1.0
Exec=pumoku
Icon=org.kde.pumoku
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;Game;
